.App {
  text-align: center;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.click:hover{
  background-color: transparent;
  border: 2px solid rgb(70, 131, 243);
  color: rgb(70, 131, 243);
}
.github{
  color:#000000;
}
.linkedin{
  color:rgb(70, 131, 243);
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color: black;
}

h3{
  font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #575757;
}
.strong{
  text-align: center;
}
li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.html{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/html.png");
  margin: auto;
  width: 100px;
  height: 100px;
}

.css{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/css.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.js{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/js.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.react{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/js.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.github{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/github.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.github2{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/github.png");
  margin: auto;
  width: 40px;
  height: 40px;
}
.git{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/git.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.linkedin{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/linkedin.png");
  margin: auto;
  width: 40px;
  height: 40px;
}
.insta{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/insta.png");
  margin: auto;
  width: 40px;
  height: 40px;
}



.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(25, 4, 209, 0.273) !important;
  transition: all 0.7s linear;
}

.card-body {
  padding: 2rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.8);
}