.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color: black;
}

h3{
  font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #575757;
}
.strong{
  text-align: center;
}
li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.html{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/html.png");
  margin: auto;
  width: 100px;
  height: 100px;
}

.css{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/css.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.js{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/js.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.react{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/js.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.github{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/github.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
.git{
  
  justify-content: center;
  align-items: center;
  background-image: url("./img/git.png");
  margin: auto;
  width: 100px;
  height: 100px;
}
